/*
==============================================================================
============================ ОСНОВНАЯ ИДЕЯ ===================================
==============================================================================
Содержимое Flex-контейнера выстраивается в одно линию (не переносится) только если
хватает места для "block-sizes" его самого (paddings, margin, border)
и "flex-basis" всех его дочерних элементов
*/



/*
==============================================================================
================================= КАРТОЧКА ===================================
==============================================================================
- Чтобы элементы карточки выстроились в одну линию, карточка должна иметь размер > 492px
---- Вычисление: Image (150px) + Text (300px) + Gap (20px) + Paddings (20px) + Borders (2px)
- При распределении свободного места тексту достаётся 3 части, картинке — 1 часть
*/
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;                  /* Размер "Gap" */
  padding: 30px 10px 10px;    /* Размер "Padding" */

  border: 1px solid black;
}

.card__img {
  flex: 1 1 150px;            /* Flex-basis элемента "img" */
}

.card__text {
  flex: 3 1 300px;            /* Flex-basis элемента "text" */
}



/*
==============================================================================
================================= ЧЁТНЫЕ КАРТОЧКИ ============================
==============================================================================
- При выстраивании в одну линию "чётные" карточки будут иметь обратное направление раскладки
*/
.card:nth-child(even) {
  flex-direction: row-reverse;
}



/*
==============================================================================
==================================== КОНТЕЙНЕР ===============================
==============================================================================
- Чтобы карточки контейнера выстроились в одну линию, контейнер должен иметь размер > 1030px
- Вычисление: Card (500px) + Card (500px) + Gap (30px) = 1030px
*/

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  flex: 1 1 500px;
}




















/* ======================================================================== */
/* NOT IMPORTANT — DECORATIVE STYLES */
/* ======================================================================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.container {
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  
  background: #ccc;
  border-radius: 10px;
}

.card__total {
  position: absolute;
  inset-block-start: 5px;
  inset-inline-start: 50%;
  translate: -50% 0;
}

.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  aspect-ratio: 2 / 1;

  background-color: lightblue;
}

.card__img {
  max-width: 100%;
}

.card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  
  background-color: lightcoral;
  border-radius: 10px;
}
